## [Liu and Lee (2017)](https://sci-hub.se/10.1109/iske.2017.8258799)
### What is done:
* for each trajectory, first node is set as (lat,lon,time) = (0,0,0) and is calculated que relative distance an time spent for each consecutive node in relation to the previous one
* data split 80% training and 20% test (no shuffling)

In [3]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

### Passo 1

In [4]:
import numpy as np
import pandas as pd
import glob
import os.path
import datetime
import os

def read_plt(plt_file):
    points = pd.read_csv(plt_file, skiprows=6, header=None,
                         parse_dates=[[5, 6]], infer_datetime_format=True)

    # for clarity rename columns
    points.rename(inplace=True, columns={'5_6': 'time', 0: 'lat', 1: 'lon', 3: 'alt'})

    # remove unused columns
    points.drop(inplace=True, columns=[2, 4])

    return points

mode_names = ['walk', 'bike', 'bus', 'car', 'subway','train', 'airplane', 'boat', 'run', 'motorcycle', 'taxi']
mode_ids = {s : i + 1 for i, s in enumerate(mode_names)}

def read_labels(labels_file):
    labels = pd.read_csv(labels_file, skiprows=1, header=None,
                         parse_dates=[[0, 1], [2, 3]],
                         infer_datetime_format=True, delim_whitespace=True)

    # for clarity rename columns
    labels.columns = ['start_time', 'end_time', 'label']

    # replace 'label' column with integer encoding
    labels['label'] = [mode_ids[i] for i in labels['label']]

    return labels

def apply_labels(points, labels):
    indices = labels['start_time'].searchsorted(points['time'], side='right') - 1
    no_label = (indices < 0) | (points['time'].values >= labels['end_time'].iloc[indices].values)
    points['label'] = labels['label'].iloc[indices].values
    points['label'][no_label] = 0

def read_user(user_folder):
    labels = None

    plt_files = glob.glob(os.path.join(user_folder, 'Trajectory', '*.plt'))
    df = pd.concat([read_plt(f) for f in plt_files])

    labels_file = os.path.join(user_folder, 'labels.txt')
    if os.path.exists(labels_file):
        labels = read_labels(labels_file)
        apply_labels(df, labels)
    else:
        df['label'] = 0

    return df

def read_all_users(folder):
    subfolders = os.listdir(folder)
    dfs = []
    for i, sf in enumerate(subfolders):
        print('[%d/%d] processing user %s' % (i + 1, len(subfolders), sf))
        df = read_user(os.path.join(folder,sf))
        df['user'] = int(sf)
        dfs.append(df)
    return pd.concat(dfs)

In [5]:
start = datetime.datetime.now()
df1 = read_all_users('../Data')
df1
end = datetime.datetime.now()
print('Tempo gasto no passo 1:',end-start)

[1/182] processing user 000
[2/182] processing user 001
[3/182] processing user 002
[4/182] processing user 003
[5/182] processing user 004
[6/182] processing user 005
[7/182] processing user 006
[8/182] processing user 007
[9/182] processing user 008
[10/182] processing user 009
[11/182] processing user 010
[12/182] processing user 011
[13/182] processing user 012
[14/182] processing user 013
[15/182] processing user 014
[16/182] processing user 015
[17/182] processing user 016
[18/182] processing user 017
[19/182] processing user 018
[20/182] processing user 019
[21/182] processing user 020
[22/182] processing user 021
[23/182] processing user 022
[24/182] processing user 023
[25/182] processing user 024
[26/182] processing user 025
[27/182] processing user 026
[28/182] processing user 027
[29/182] processing user 028
[30/182] processing user 029
[31/182] processing user 030
[32/182] processing user 031
[33/182] processing user 032
[34/182] processing user 033
[35/182] processing user 034
[36/182] processing user 035
[37/182] processing user 036
[38/182] processing user 037
[39/182] processing user 038
[40/182] processing user 039
[41/182] processing user 040
[42/182] processing user 041
[43/182] processing user 042
[44/182] processing user 043
[45/182] processing user 044
[46/182] processing user 045
[47/182] processing user 046
[48/182] processing user 047
[49/182] processing user 048
[50/182] processing user 049
[51/182] processing user 050
[52/182] processing user 051
[53/182] processing user 052
[54/182] processing user 053
[55/182] processing user 054
[56/182] processing user 055
[57/182] processing user 056
[58/182] processing user 057
[59/182] processing user 058
[60/182] processing user 059
[61/182] processing user 060
[62/182] processing user 061
[63/182] processing user 062
[64/182] processing user 063
[65/182] processing user 064
[66/182] processing user 065
[67/182] processing user 066
[68/182] processing user 067
[69/182] processing user 068
[70/182] processing user 069
[71/182] processing user 070
[72/182] processing user 071
[73/182] processing user 072
[74/182] processing user 073
[75/182] processing user 074
[76/182] processing user 075
[77/182] processing user 076
[78/182] processing user 077
[79/182] processing user 078
[80/182] processing user 079
[81/182] processing user 080
[82/182] processing user 081
[83/182] processing user 082
[84/182] processing user 083
[85/182] processing user 084
[86/182] processing user 085
[87/182] processing user 086
[88/182] processing user 087
[89/182] processing user 088
[90/182] processing user 089
[91/182] processing user 090
[92/182] processing user 091
[93/182] processing user 092
[94/182] processing user 093
[95/182] processing user 094
[96/182] processing user 095
[97/182] processing user 096
[98/182] processing user 097
[99/182] processing user 098
[100/182] processing user 099
[101/182] processing user 100
[102/182] processing user 101
[103/182] processing user 102
[104/182] processing user 103
[105/182] processing user 104
[106/182] processing user 105
[107/182] processing user 106
[108/182] processing user 107
[109/182] processing user 108
[110/182] processing user 109
[111/182] processing user 110
[112/182] processing user 111
[113/182] processing user 112
[114/182] processing user 113
[115/182] processing user 114
[116/182] processing user 115
[117/182] processing user 116
[118/182] processing user 117
[119/182] processing user 118
[120/182] processing user 119
[121/182] processing user 120
[122/182] processing user 121
[123/182] processing user 122
[124/182] processing user 123
[125/182] processing user 124
[126/182] processing user 125
[127/182] processing user 126
[128/182] processing user 127
[129/182] processing user 128
[130/182] processing user 129
[131/182] processing user 130
[132/182] processing user 131
[133/182] processing user 132
[134/182] processing user 133
[135/182] processing user 134
[136/182] processing user 135
[137/182] processing user 136
[138/182] processing user 137
[139/182] processing user 138
[140/182] processing user 139
[141/182] processing user 140
[142/182] processing user 141
[143/182] processing user 142
[144/182] processing user 143
[145/182] processing user 144
[146/182] processing user 145
[147/182] processing user 146
[148/182] processing user 147
[149/182] processing user 148
[150/182] processing user 149
[151/182] processing user 150
[152/182] processing user 151
[153/182] processing user 152
[154/182] processing user 153
[155/182] processing user 154
[156/182] processing user 155
[157/182] processing user 156
[158/182] processing user 157
[159/182] processing user 158
[160/182] processing user 159
[161/182] processing user 160
[162/182] processing user 161
[163/182] processing user 162
[164/182] processing user 163
[165/182] processing user 164
[166/182] processing user 165
[167/182] processing user 166
[168/182] processing user 167
[169/182] processing user 168
[170/182] processing user 169
[171/182] processing user 170
[172/182] processing user 171
[173/182] processing user 172
[174/182] processing user 173
[175/182] processing user 174
[176/182] processing user 175
[177/182] processing user 176
[178/182] processing user 177
[179/182] processing user 178
[180/182] processing user 179
[181/182] processing user 180
[182/182] processing user 181
Tempo gasto no passo 1: 0:05:28.864373

In [7]:
df1

                  time        lat         lon          alt  label  user
0  2008-10-23 02:53:04  39.984702  116.318417   492.000000      0     0
1  2008-10-23 02:53:10  39.984683  116.318450   492.000000      0     0
2  2008-10-23 02:53:15  39.984686  116.318417   492.000000      0     0
3  2008-10-23 02:53:20  39.984688  116.318385   492.000000      0     0
4  2008-10-23 02:53:25  39.984655  116.318263   492.000000      0     0
..                 ...        ...         ...          ...    ...   ...
17 2008-03-14 03:39:56  40.914867  111.710500  3802.493438      0   181
18 2008-03-14 03:41:17  40.914267  111.710333  3795.931759      0   181
19 2008-03-14 03:43:02  40.912467  111.710667  3795.931759      0   181
20 2008-03-14 03:43:28  40.911517  111.711317  3779.527559      0   181
21 2008-03-14 03:43:40  40.910933  111.711617  3802.493438      0   181

[24876978 rows x 6 columns]

### Passo 2

In [50]:
df2 = df1[df1['label'] != 0]
df2.reset_index(inplace=True)
df2.drop('index', axis=1, inplace=True)
df2

                       time        lat         lon    alt  label  user
0       2008-03-28 14:54:40  39.894178  116.318200 -777.0      5    10
1       2008-03-28 14:55:14  39.894505  116.321132 -777.0      5    10
2       2008-03-28 14:56:13  39.894953  116.326452 -777.0      5    10
3       2008-03-28 14:57:12  39.894600  116.332542 -777.0      5    10
4       2008-03-28 14:58:11  39.889622  116.337040 -777.0      5    10
...                     ...        ...         ...    ...    ...   ...
5412061 2008-11-29 02:29:27  40.029529  116.411977  291.0      6   179
5412062 2008-11-29 02:29:29  40.029320  116.411975  289.0      6   179
5412063 2008-11-29 02:29:31  40.029111  116.411963  275.0      6   179
5412064 2008-11-29 02:29:33  40.028904  116.411962  274.0      6   179
5412065 2008-11-29 02:29:35  40.028697  116.411961  274.0      6   179

[5412066 rows x 6 columns]

### Passo 3

In [73]:
import datetime as dt

start = datetime.datetime.now()

df3 = df2
df3['time_p'],df3['lat_p'],df3['lon_p'] = 0,0,0
for idx, row in df3.iterrows():
    if idx != 0 and row['time'].day==df3.at[idx-1,'time'].day:
        df3.at[idx,'time_p'] = (row['time'] - df3.at[idx-1,'time']).seconds
        df3.at[idx,'lat_p'] = row['lat'] - df3.at[idx-1,'lat']
        df3.at[idx,'lon_p'] = row['lon'] - df3.at[idx-1,'lon']
end = datetime.datetime.now()
print('Tempo gasto no passo 3:',end-start)

df3

Tempo gasto no passo 3: 0:16:52.857112

,time,lat,lon,alt,label,user,time_p,lat_p,lon_p
0,2008-03-28 14:54:40,39.894178,116.318200,-777.0,5,10,0,0.000000,0.000000e+00
1,2008-03-28 14:55:14,39.894505,116.321132,-777.0,5,10,34,0.000327,2.932000e-03
2,2008-03-28 14:56:13,39.894953,116.326452,-777.0,5,10,59,0.000448,5.320000e-03
3,2008-03-28 14:57:12,39.894600,116.332542,-777.0,5,10,59,-0.000353,6.090000e-03
4,2008-03-28 14:58:11,39.889622,116.337040,-777.0,5,10,59,-0.004978,4.498000e-03
...,...,...,...,...,...,...,...,...,...
5412061,2008-11-29 02:29:27,40.029529,116.411977,291.0,6,179,2,-0.000210,-3.000000e-06
5412062,2008-11-29 02:29:29,40.029320,116.411975,289.0,6,179,2,-0.000209,-2.000000e-06
5412063,2008-11-29 02:29:31,40.029111,116.411963,275.0,6,179,2,-0.000209,-1.200000e-05
5412064,2008-11-29 02:29:33,40.028904,116.411962,274.0,6,179,2,-0.000207,-1.000000e-06
5412065,2008-11-29 02:29:35,40.028697,116.411961,274.0,6,179,2,-0.000207,-1.000000e-06

### Passo 4

In [81]:
df4 = df3[['time_p','lat_p','lon_p','alt','label','user']]
delta_time = df4['time_p'].values.tolist()
def time_interval(t):
    if t<=9:
        return t
    elif t <= 20:
        return (10,20)
    elif t <= 50:
        return (21,50)
    return 51

intervals = list(map(time_interval,delta_time))
df4['interval_class'] = intervals
df4

         time_p     lat_p         lon_p    alt  label  user interval_class
0             0  0.000000  0.000000e+00 -777.0      5    10              0
1            34  0.000327  2.932000e-03 -777.0      5    10       (21, 50)
2            59  0.000448  5.320000e-03 -777.0      5    10             51
3            59 -0.000353  6.090000e-03 -777.0      5    10             51
4            59 -0.004978  4.498000e-03 -777.0      5    10             51
...         ...       ...           ...    ...    ...   ...            ...
5412061       2 -0.000210 -3.000000e-06  291.0      6   179              2
5412062       2 -0.000209 -2.000000e-06  289.0      6   179              2
5412063       2 -0.000209 -1.200000e-05  275.0      6   179              2
5412064       2 -0.000207 -1.000000e-06  274.0      6   179              2
5412065       2 -0.000207 -1.000000e-06  274.0      6   179              2

[5412066 rows x 7 columns]

### Passo 5

In [82]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df4, test_size=0.2, shuffle=False)