In [13]:
import pandas as pd
import os
from datetime import datetime
import numpy as np
import geopandas as gpd
from pyproj import CRS
from shapely.geometry import Point
from datetime import timedelta
import movingpandas as mpd
import matplotlib.pyplot as plt

In [14]:
def read_one_user(n):
    user_path = '../Data/0'+str(n)+'/labels.txt'
    transport_df = pd.read_csv(user_path, sep="\t")
    
    directory = '../Data/0'+str(n)+'/Trajectory'
    
    gps_points_df = pd.DataFrame(columns=['time', 'lat', 'lon', 'alt', 'identifier'])
    for filename in os.listdir(directory):
        dt_object = datetime.strptime(filename[:-4], '%Y%m%d%H%M%S')
        for index, row in transport_df.iterrows():
            start = datetime.strptime(row['Start Time'],'%Y/%m/%d %H:%M:%S')
            end = datetime.strptime(row['End Time'],'%Y/%m/%d %H:%M:%S')
            if dt_object >= start and dt_object <= end:
                file_df = pd.read_csv(directory+'/'+filename, skiprows=6, header=None,
                         parse_dates=[[5, 6]], infer_datetime_format=True)
                file_df.rename(inplace=True, columns={'5_6': 'time', 0: 'lat', 1: 'lon', 3: 'alt'})
                file_df.drop(inplace=True, columns=[2, 4])
                file_df['identifier'] = index
                file_df['geometry'] = [Point(lon, lat) for lon, lat in 
                             zip(file_df['lon'].to_list(), file_df['lat'].to_list())]
                gps_points_df = pd.concat([gps_points_df,file_df])
                
    return transport_df,gps_points_df

start = datetime.now()
transport_df,gps_points_df = read_one_user(10)

end = datetime.now()
print('Tempo gasto:',end-start)

C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
C:\ProgramData\Miniconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

Tempo gasto: 0:00:34.970186

In [15]:
transport_df

              Start Time             End Time Transportation Mode
0    2007/06/26 11:32:29  2007/06/26 11:40:29                 bus
1    2008/03/28 14:52:54  2008/03/28 15:59:59               train
2    2008/03/28 16:00:00  2008/03/28 22:02:00               train
3    2008/03/29 01:27:50  2008/03/29 15:59:59               train
4    2008/03/29 16:00:00  2008/03/30 15:59:59               train
..                   ...                  ...                 ...
429  2008/12/07 10:30:54  2008/12/07 10:34:14                taxi
430  2008/12/07 10:59:29  2008/12/07 11:29:48               train
431  2008/12/07 11:43:12  2008/12/07 12:23:26                 bus
432  2008/12/07 12:23:34  2008/12/07 12:25:07                walk
433  2008/12/07 12:25:34  2008/12/07 12:37:28                taxi

[434 rows x 3 columns]

In [67]:
gps_points_df

,time,lat,lon,alt,identifier,geometry
0,2008-03-28 16:00:01,39.50293,116.714948,-777,2,POINT (116.71495 39.50293)
1,2008-03-28 16:01:00,39.497045,116.726137,-777,2,POINT (116.72614 39.49704)
2,2008-03-28 16:01:59,39.489695,116.740047,-777,2,POINT (116.74005 39.48969)
3,2008-03-28 16:02:59,39.481438,116.755648,-777,2,POINT (116.75565 39.48144)
4,2008-03-28 16:03:58,39.472748,116.770972,-777,2,POINT (116.77097 39.47275)
...,...,...,...,...,...,...
3691,2008-12-07 12:37:24,39.991644,116.326376,184,427,POINT (116.32638 39.99164)
3692,2008-12-07 12:37:25,39.991641,116.326325,180,427,POINT (116.32632 39.99164)
3693,2008-12-07 12:37:26,39.991641,116.326289,177,427,POINT (116.32629 39.99164)
3694,2008-12-07 12:37:27,39.991643,116.326273,174,427,POINT (116.32627 39.99164)
3695,2008-12-07 12:37:28,39.991644,116.326263,167,427,POINT (116.32626 39.99164)

In [68]:
start = datetime.now()

gps_points_geometry_df = gps_points_df

# Creating a Geodataframe. Be aware it is CRS 4326 WGS84
# A GeoDataFrame object is a pandas.DataFrame that has a column with geometry
# It has one GeoSeries column that holds a special status. 
# This GeoSeries is referred to as the GeoDataFrame’s “geometry”. 
# A GeoSeries is essentially a vector where each entry in the vector is a set 
# of shapes corresponding to one observation.
geodata = gpd.GeoDataFrame(gps_points_geometry_df, crs = CRS.from_epsg('4326'))
geodata = geodata.set_index('time')

geo = datetime.now()
print('Tempo gasto criando geodata:',geo-start)

# Create a Trajectory Collection with Movingpandas
# data(list[Trajectory] or GeoDataFrame or DataFrame)–List of Trajectory 
#     objects or a GeoDataFrame with trajectory IDs, point geometry column 
#     and timestamp index
# traj_id_col(string)–Name of the GeoDataFrame column containing trajectory IDs
traj_collection = mpd.TrajectoryCollection(geodata, 'identifier')

traj = datetime.now()
print('Tempo gasto criando TrajectoryCollection:',traj-geo)


'''
Since each transportation mode must have different parameters for stop point detecion, maybe the part below should be done
inside a for loop tha checks the transport mode before setting the parameters.
Read https://www.researchgate.net/publication/259322953_Trip_Reconstruction_and_Transportation_Mode_Extraction_on_Low_Data_Rate_GPS_Data_from_Mobile_Phone
Maybe select another stop point detection algorithm
'''


# Detects stops in a trajectory. A stop is detected if the movement stays 
# within an area of specified size for at least the specified duration.
# Define parameters in Hours and Search radius in meters
Hours = .01
SearchRadio = 500
stops = mpd.TrajectoryStopDetector(traj_collection).get_stop_segments(min_duration=timedelta(hours=Hours), max_diameter=SearchRadio)

trajstop = datetime.now()
print('Tempo gasto criando stops df:',trajstop-traj)

stops

Tempo gasto criando geodata: 0:00:00.578270
Tempo gasto criando TrajectoryCollection: 0:02:57.163647

C:\ProgramData\Miniconda3\lib\site-packages\movingpandas\geometry_utils.py:150: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  if len(geom) == 2:
C:\ProgramData\Miniconda3\lib\site-packages\movingpandas\geometry_utils.py:151: ShapelyDeprecationWarning: __getitem__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Use the `geoms` property to access the constituent parts of a multi-part geometry.
  return _measure_distance(geom[0], geom[1], spherical)

Tempo gasto criando stops df: 0:18:20.594942

TrajectoryCollection with 3121 trajectories

In [69]:
# Create a new Geodataframe and define geometry column
stops_start = gpd.GeoDataFrame(columns = ['geometry'])
stops_start = stops_start.set_geometry('geometry')

# Add the ID of each stop track and define it as index
stops_start['stop_id'] = [track.id for track in stops.trajectories]
stops_start= stops_start.set_index('stop_id')
stops_start

                        geometry
stop_id
2_2008-03-28 16:32:37       None
2_2008-03-28 16:43:30       None
2_2008-03-28 16:46:28       None
2_2008-03-28 17:19:04       None
2_2008-03-28 17:38:49       None
...                          ...
427_2008-12-07 12:28:57     None
427_2008-12-07 12:29:45     None
427_2008-12-07 12:31:48     None
427_2008-12-07 12:32:27     None
427_2008-12-07 12:35:20     None

[3121 rows x 1 columns]

In [70]:
start = datetime.now()

# Iteration over the Stop Trajectories
for stoptrack in stops.trajectories:

    # add stop duration in hours
    stops_start.at[stoptrack.id,'duration_h'] =stoptrack.get_duration().total_seconds()/3600

    # add length
    stops_start.at[stoptrack.id, 'length_m']=stoptrack.get_length()

    # add bird name
    stops_start.at[stoptrack.id, 'identifier']=stoptrack.id.split('_')[0]

    # add datetime
    stops_start.at[stoptrack.id, 'datetime']= pd.to_datetime(stoptrack.id.split('_')[1]).tz_localize(None)

    # geometry with start point
    stops_start.at[stoptrack.id, 'geometry'] = stoptrack.get_start_location()
    
# Reset indexes
stops_start = stops_start.reset_index(drop=True)
geodata = geodata.reset_index(drop=True)

end = datetime.now()
print('Tempo gasto criando stops df:',end-start)

Tempo gasto criando stops df: 0:01:13.966339

In [71]:
stops_start

,geometry,duration_h,length_m,identifier,datetime
0,POINT (117.17040 39.20779),0.033056,299.454242,2,2008-03-28 16:32:37
1,POINT (117.16743 39.15713),0.016389,488.160124,2,2008-03-28 16:43:30
2,POINT (117.16133 39.15702),0.081944,131.829639,2,2008-03-28 16:46:28
3,POINT (116.92513 38.93538),0.049167,338.851630,2,2008-03-28 17:19:04
4,POINT (116.92534 38.71102),0.049444,429.005581,2,2008-03-28 17:38:49
...,...,...,...,...,...
3116,POINT (116.34740 39.98475),0.012500,487.697674,427,2008-12-07 12:28:57
3117,POINT (116.34710 39.98953),0.033611,677.502670,427,2008-12-07 12:29:45
3118,POINT (116.34185 39.99191),0.010278,495.055306,427,2008-12-07 12:31:48
3119,POINT (116.33574 39.99174),0.047500,502.893288,427,2008-12-07 12:32:27
3120,POINT (116.32974 39.99162),0.035556,299.124464,427,2008-12-07 12:35:20

In [72]:
geodata

              lat         lon   alt identifier                    geometry
0        39.50293  116.714948  -777          2  POINT (116.71495 39.50293)
1       39.497045  116.726137  -777          2  POINT (116.72614 39.49704)
2       39.489695  116.740047  -777          2  POINT (116.74005 39.48969)
3       39.481438  116.755648  -777          2  POINT (116.75565 39.48144)
4       39.472748  116.770972  -777          2  POINT (116.77097 39.47275)
...           ...         ...   ...        ...                         ...
535851  39.991644  116.326376   184        427  POINT (116.32638 39.99164)
535852  39.991641  116.326325   180        427  POINT (116.32632 39.99164)
535853  39.991641  116.326289   177        427  POINT (116.32629 39.99164)
535854  39.991643  116.326273   174        427  POINT (116.32627 39.99164)
535855  39.991644  116.326263   167        427  POINT (116.32626 39.99164)

[535856 rows x 5 columns]

In [98]:
from math import log

start = datetime.now()

point_density_table = []

######### compare points in stops_start and geodata. 
######### try plotting each batch of stops_start points by traj ID
ids = stops_start['identifier'].unique()
for i in ids:
    fig = plt.figure()
    # filtering trajectories by id and plotting them
#     filtered_trajs = geodata[geodata['identifier']==int(i)]
#     lat_traj = [p.y for p in filtered_trajs['geometry']]
#     lon_traj = [p.x for p in filtered_trajs['geometry']]

#     plt.scatter(lon_traj,lat_traj)
#     plt.plot(lon_traj,lat_traj)
    
    # filtering stop points by id and plotting them
    filtered_stops = stops_start[stops_start['identifier']==i]
    lat_stops = [p.y for p in filtered_stops['geometry']]
    lon_stops = [p.x for p in filtered_stops['geometry']]
    
    plt.scatter(lon_stops,lat_stops)
    plt.plot(lon_stops,lat_stops)
    
    plt.xlabel('Longitude')
    plt.ylabel('Latitude')
    title = i+'_'+transport_df.at[int(i),'Transportation Mode']
    plt.title(title)
    
    plt.axis('off')
    plt.savefig('traj_images/'+title+'.png')
    
    plt.close(fig)
    
    # getting info to calculate point density
    num_stops = len(filtered_stops['length_m'])
    dist = log(sum(filtered_stops['length_m']))
    info = (transport_df.at[int(i),'Transportation Mode'],dist,num_stops,dist/num_stops)
    point_density_table.append(info)
    
end = datetime.now()
print('Tempo gasto gerando imagens:',end-start)

Tempo gasto gerando imagens: 0:00:03.284974

In [99]:
'''
Don't forget about the distribution of labels, because it is probably unbalanced
Maybe there is a relationship between the distance covered and the number of stop points? Like density?
Because a faster mode will have a ratio of distance/stops closer to zero than a slower mode
'''

point_density_table

[('train', 9.518476876770405, 37, 0.25725613180460555),
 ('train', 9.16055222386709, 22, 0.4163887374485041),
 ('train', 9.0590561516861, 23, 0.39387200659504784),
 ('taxi', 9.487388020600308, 37, 0.256415892448657),
 ('walk', 8.99929259814872, 16, 0.562455787384295),
 ('train', 9.9846120582682, 51, 0.19577670702486666),
 ('train', 11.856159482191604, 281, 0.04219273837078862),
 ('train', 10.029646740970405, 50, 0.2005929348194081),
 ('train', 8.605455214102717, 12, 0.7171212678418931),
 ('train', 10.041447480023772, 51, 0.19689112705928963),
 ('bus', 9.494271337423598, 26, 0.3651642822085999),
 ('bus', 9.313319887215629, 21, 0.44349142320074425),
 ('walk', 7.155554849548707, 3, 2.385184949849569),
 ('train', 10.536428179088517, 72, 0.1463392802651183),
 ('bus', 9.874286641458975, 37, 0.2668726119313236),
 ('walk', 10.315918818604505, 59, 0.1748460816712628),
 ('walk', 10.348346573971401, 56, 0.18479190310663215),
 ('train', 10.733629201412738, 91, 0.11795196924629382),
 ('walk', 10.03178318738373, 45, 0.22292851527519403),
 ('train', 11.3308691653704, 165, 0.06867193433557818),
 ('taxi', 9.366643049442203, 21, 0.44603062140200966),
 ('walk', 8.607610377698702, 10, 0.8607610377698702),
 ('walk', 11.06618849228475, 123, 0.08996901213239634),
 ('train', 9.322313106476539, 18, 0.5179062836931411),
 ('walk', 9.251203464231635, 18, 0.5139557480128686),
 ('taxi', 9.552496402312347, 27, 0.35379616304860545),
 ('bus', 9.245110535843573, 20, 0.46225552679217863),
 ('bus', 9.343593533713532, 22, 0.4247087969869787),
 ('subway', 9.265593898378313, 21, 0.44121875706563396),
 ('train', 9.743434532486422, 31, 0.3143043397576265),
 ('walk', 9.414188402169417, 22, 0.4279176546440644),
 ('train', 9.067733857239915, 17, 0.5333961092494067),
 ('subway', 9.334980530336118, 21, 0.444522882396958),
 ('train', 8.963059602877204, 16, 0.5601912251798252),
 ('subway', 9.426960625353523, 23, 0.40986785327624015),
 ('taxi', 9.186359367066203, 19, 0.48349259826664226),
 ('taxi', 9.439505480522314, 24, 0.3933127283550964),
 ('taxi', 9.208722012045559, 20, 0.46043610060227796),
 ('taxi', 8.978517902150152, 14, 0.6413227072964395),
 ('train', 8.747028837408283, 13, 0.6728483721083295),
 ('subway', 9.732503537665357, 31, 0.3139517270214631),
 ('train', 9.720018181634748, 33, 0.2945460055040833),
 ('car', 9.866867908849366, 35, 0.28191051168141046),
 ('taxi', 8.944177191415822, 16, 0.5590110744634889),
 ('subway', 9.200110473627843, 20, 0.46000552368139214),
 ('train', 11.262372453201898, 153, 0.07361027747190783),
 ('train', 11.550782155697242, 198, 0.058337283614632536),
 ('train', 10.24732430330481, 50, 0.2049464860660962),
 ('taxi', 10.023091565275518, 42, 0.2386450372684647),
 ('train', 10.744112702591492, 84, 0.12790610360227966),
 ('taxi', 9.03775224744114, 16, 0.5648595154650713),
 ('subway', 9.732787783869322, 32, 0.3041496182459163),
 ('train', 8.837299155670614, 14, 0.6312356539764724),
 ('subway', 9.287924166377104, 21, 0.4422821031608145),
 ('walk', 9.100090789979342, 17, 0.535299458234079),
 ('subway', 9.69314139006322, 31, 0.31268198032461997),
 ('taxi', 9.126456420828506, 18, 0.5070253567126948),
 ('walk', 9.889333682736988, 37, 0.2672792887226213),
 ('taxi', 8.97450997113035, 16, 0.5609068731956469),
 ('subway', 9.67379477141654, 30, 0.3224598257138847),
 ('taxi', 9.095019439194957, 18, 0.5052788577330531),
 ('subway', 9.28769240476978, 20, 0.46438462023848903),
 ('taxi', 9.262053985508896, 21, 0.4410501897861379),
 ('bus', 8.64946249806804, 11, 0.78631477255164),
 ('taxi', 8.700954075047138, 12, 0.7250795062539281),
 ('taxi', 9.059515404980624, 15, 0.603967693665375),
 ('train', 8.819514700284596, 14, 0.629965335734614),
 ('subway', 9.778389787929262, 34, 0.2875996996449783),
 ('taxi', 9.096636471765919, 19, 0.4787703406192589),
 ('walk', 9.982814292902358, 39, 0.2559695972539066),
 ('taxi', 8.448015460311145, 8, 1.0560019325388932),
 ('taxi', 9.228992468448917, 21, 0.4394758318309008),
 ('bus', 9.007900383663259, 15, 0.6005266922442173),
 ('taxi', 8.321681919262918, 8, 1.0402102399078648),
 ('taxi', 9.800053826707975, 34, 0.2882368772561169),
 ('train', 9.400403674261455, 23, 0.40871320322875887),
 ('subway', 8.427659071758812, 9, 0.936406563528757),
 ('subway', 9.916281870784195, 36, 0.27545227418844986),
 ('train', 10.220752197498914, 54, 0.1892731888425725),
 ('walk', 9.768625301677583, 34, 0.2873125088728701),
 ('taxi', 8.861006262151955, 13, 0.6816158663193812),
 ('subway', 10.256659547480444, 55, 0.18648471904509897),
 ('walk', 10.32701515750246, 59, 0.1750341552119061)]

In [74]:
# import matplotlib.pyplot as plt

# def draw_motif(transport_df,gps_points_df):
#     ids = gps_points_df['identifier'].unique()
#     for i in ids[:5]:
#         single_mode_df = gps_points_df[gps_points_df['identifier']==i]
#         plt.scatter(x=single_mode_df['lon'], y=single_mode_df['lat'])
#         plt.xlabel('Longitude')
#         plt.ylabel('Latitude')
#         plt.title(transport_df.at[i,'Transportation Mode'])
#         plt.show()
        
# draw_motif(transport_df,gps_points_df)

#     stops = stops_start['geometry'].tolist()
#     print('stops #######################\n',stops)
#     xs = [point.x for point in stops]
#     ys = [point.y for point in stops]
#     plt.scatter(xs, ys)
#     plt.plot(xs, ys)
#     plt.title('Transport Mode:'+transport_df.at[i,'Transportation Mode'])
#     plt.show()